* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

/* Typography */
body {
  font-family: "Merriweather", serif;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
.md-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
p {
  font-size: 1.5rem;
}
.desc {
  text-indent: 1.5rem;
}
#brand {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
#nav-link {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

/* Typography */

/* Navigation Bar CSS */
nav {
  box-shadow: 1px 2px 5px #5d5b5b;
}
.nav-pic {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.logo-pic {
  width: 15rem;
  height: 15rem;
}
.dropdown-menu {
  width: 15rem !important;
}
#nav-link,
#brand {
  color: #6c9c82 !important;
}
/* Navigation Bar CSS */

/* Bidding Main */
.image-row {
  background-image: linear-gradient(140deg, #6c9c82, #215136);
  height: 40rem;
}
.information-row {
  height: 40.3rem;
  border: 1px solid red;
}
.information-row p {
  margin: 0px !important;
  padding: 0px !important;
}
#bid-image {
  max-width: 60rem;
  max-height: 40rem;
}
#table-img {
  width: 50px;
  height: 50px;
}
tr td:nth-of-type(2) {
  font-size: 1.5rem;
  color: green !important;
}
.bids-row {
  display: flex;
  flex-direction: column;
  height: 60rem !important;
  overflow: scroll;
}
tbody {
  overflow: scroll;
}
/* Bidding Main */
@media screen and (max-width: 576px) {
  .logo-pic {
    width: 50px;
    height: 50px;
  }
  .title {
    font-size: 3rem;
  }
  #nav-link {
    font-size: 2rem;
  }
  .desc {
    font-size: 1.5rem;
  }
  .md-title {
    font-size: 2.5rem;
  }
}
