* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

/* Typography */
body {
  font-family: "Merriweather", serif;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
.md-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
p {
  font-size: 1.5rem;
}
.desc {
  text-indent: 1.5rem;
}
#brand {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
#nav-link {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

/* Typography */

/* Navigation Bar CSS */
nav {
  box-shadow: 1px 2px 5px #5d5b5b;
}
.nav-pic {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.logo-pic {
  width: 15rem;
  height: 15rem;
}
.dropdown-menu {
  width: 15rem !important;
}
#nav-link,
#brand {
  color: #6c9c82 !important;
}
.payment-col {
  background-image: linear-gradient(140deg, #6c9c82, #215136);
}
.billing-col {
}
.btn {
  font-family: "Oswald", sans-serif !important;
}
/* Navigation Bar CSS */
@media screen and (max-width: 576px) {
  .logo-pic {
    width: 50px;
    height: 50px;
  }
  .title {
    font-size: 3rem;
  }
  #nav-link {
    font-size: 2rem;
  }
  .desc {
    font-size: 1.5rem;
  }
  .md-title {
    font-size: 2.5rem;
  }
}
