* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

/* Typography */
body {
  font-family: "Merriweather", serif;
}
.title {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
.md-title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
p {
  font-size: 3rem;
}
.desc {
  text-indent: 1rem;
  text-align: justify;
}
#brand {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
#nav-link {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

/* Typography */

/* Navigation Bar CSS */
nav {
  box-shadow: 1px 2px 5px #5d5b5b;
}
.nav-pic {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.logo-pic {
  width: 15rem;
  height: 15rem;
}
.dropdown-menu {
  width: 15rem !important;
}
#nav-link,
#brand {
  color: #6c9c82 !important;
}

table img {
  width: 150px;
  height: 100px;
}
.upd-btn {
  height: 4rem;
  font-size: 2rem !important;
  padding: 0;
}

@media screen and (max-width: 576px) {
  .logo-pic {
    width: 50px;
    height: 50px;
  }
  .title {
    font-size: 3rem;
  }
  #nav-link {
    font-size: 2rem;
  }
  .desc {
    font-size: 1.5rem;
  }
  .md-title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  table,
  table button {
    font-size: 2rem !important;
  }
  input[type="search"] {
    font-size: 2rem;
  }
}
