* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
#brand {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
#nav-link {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
#Login-btn {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
nav {
  box-shadow: 1px 2px 5px #5d5b5b;
}

/* Typography */
body {
  font-family: "Merriweather", serif;
}
.title {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
.md-title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
p {
  font-size: 3rem;
}
.desc {
  text-indent: 1rem;
  text-align: justify;
}
#brand {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
#nav-link {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
#Login-btn {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
#start-btn {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
/* Typography */

/* Navigation Bar CSS */
.nav-pic {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.logo-pic {
  width: 15rem;
  height: 15rem;
}
.dropdown-menu {
  width: 15rem !important;
}

main {
  height: 91.5vh;
}
.change-btn {
  position: relative;
  left: -83px;
  top: 120px;
}
@media screen and (max-width: 576px) {
  .logo-pic {
    width: 50px;
    height: 50px;
  }
  .title {
    font-size: 3rem;
  }
  #nav-link {
    font-size: 2rem;
  }
  .desc {
    font-size: 1.5rem;
  }
  form {
    font-size: 0.1rem !important;
  }
}
